<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>噪音分类模型Demo</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .content{
            width: 500px;
            height: 1000px;
            margin: 0 auto;
            position: relative;
            top: 30%;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>噪音分类模型Demo</h1>
        <br/>
        <span><h3>针对长文本，输入文本最好大于100字:</h3></span>
        <span><h4>高质量: 体育、教育、科技、时事、政务、文化、国际、军事、民生，分到此处的几个类，不会进入噪声区</h4></span>
        <span><h4>低质量: 母婴、美容、时尚、娱乐、游戏、股票、历史、美食、房产、汽车，分到此处的几个类，进入噪声区</h4></span>
        <form method="post" action="/predict/yqcnn">
            输入要预测的文本：<input type="text" name="cont">
            <input type="submit" value="提交"/>
        </form>


    </div>
</body>
</html>

